<div class="header">
  <div class="header__top">
    <a class="header__logo" href="/"></a>
    <h1 class="header__title">
      <%= title%>
    </h1>
  </div>
  <div class="header__bottom">
    <ul class="header__nav">
      <a href="/" class="<%= homeactive%>">
        <li>Home</li>
      </a>
      <a href="/FAQ" class="<%= faqactive%>">
        <li>FAQ</li>
      </a>
      <a href="/dual-enrollment" class="<%= dualactive%>">
        <li>NVCC Dual Enrollment</li>
      </a>
      <a href="/early-college-scholars" class="<%= earlyactive%>">
        <li>Virginia Early College Scholars</li>
      </a>
      <a href="/courses" class="<%= coursesactive%>">
        <li>Courses</li>
      </a>
      <a href="/online" class="<%= onlineactive%>">
        <li>Online / Summer Options</li>
      </a>
      <a href="/calendar" class="<%= calendaractive%>">
        <li>Calendar</li>
      </a>
      <a href="/points" class="<%= pointsactive%>">
        <li>CASIIT Points</li>
      </a>
    </ul>
  </div>
</div>